// Styles for the style guide

.hero {
  @include hero_color(#09152f,#ba9270,0.6,#0085fa,0.3);
}

.container {
  @include container;
}

.primary_container {
  margin-top: $lineHeight * 2;
}

.docs {
  border-radius: $radius;
  margin-bottom: $lineHeight;
}

.docs_item {
  display: block;
  position: relative;
  padding-bottom: $lineHeight * 2;
  margin-bottom: $lineHeight * 2;
  border-bottom: 1px solid $gray;
  &.docs_item_sub {
    border: 0;
    padding-bottom: 0;
    > h4 {
      @media screen and (min-width: $lapWidth) {
        position: relative;
        top: $rhythm;
        padding-right: 8rem;
      }
    }
  }
}

hr {
  margin-bottom: $lineHeight * 2;
}

.docs_code_header {
  background: $lighterGray;
  line-height: $rhythm * 4;
  padding: 0 ($rhythm * 2);
  @include border_top_radius($radius);
  color: $darkerGray;
  font-size: $fontSmall;
}

.docs_code {
  margin-top: $rhythm * 3;

  pre {
    @include border_top_radius(0);
    margin: 0;
  }
}

.docs_item {
  > h3,
  > h4 {
    margin-bottom: $inputHeight + $lineHeight;
    @media screen and (min-width: $lapWidth) {
      margin-bottom: $lineHeight;
    }
  }
}

.docs_toggle_button {
  position: absolute;
  top: $fontLineHeightH3Mobile + $rhythm;
  left: 0;
  @media screen and (min-width: $lapWidth) {
    top: 0;
    left: auto;
    right: 0;
  }
}

.docs_toggle_input {
  opacity: 0;
  position: absolute;
  z-index: -1;
  &:checked + .docs_code {
    display: block;
  }
}

.swatch {
  margin: 0 $lineHeight $lineHeight 0;
  display: inline-block;
  div {
    width: $lineHeight * 6;
    height: $lineHeight * 4;
    box-shadow: inset 0 0 0 1px rgba($black,0.1);
  }
  span {
    font-size: $fontSmall;
    color: $darkerGray;
  }
}

.docs_grid {
  margin-bottom: $rhythm * 2;
  margin-left: $rhythm * -2;
  .item {
    padding-left: $rhythm * 2;
    span {
      background: $blueHighlight;
      display: block;
      padding: $rhythm;
      font-size: $fontSmall;
      border-radius: $radius;
    }
  }
  @media screen and (min-width: $lapWidth) {
    margin-left: $rhythm * -4;
    .item {
      padding-left: $rhythm * 4;
    }
  }
}

// Guides

.docs_guide {
  margin: $lineHeight 0;
  display: block;
  + .docs_guide {
    margin-top: $lineHeight * 2;
  }
  .form_hint {
    margin-top: $rhythm * 2;
  }
}

@media screen and (min-width: $lapWidth) {
  .docs_guide_grid {
    display: table;
    width: 100%;
    margin-left: -2%;
    max-width: 48rem;
  }
}

.docs_guide_item {
  margin-top: $rhythm * 5;
  position: relative;
  p {
    margin-bottom: 0;
    padding: $rhythm ($rhythm * 2) ($rhythm * 2);
    @include border_bottom_radius($radius);
  }
  img + p {
    background: $lightestGray;
    border-top: 1px solid $lightGray;
    padding-top: $rhythm * 1.5;
    padding-bottom: $rhythm * 1.5;
  }
  strong {
    color: $darkerGray;
  }
  code {
    font-size: $fontSmallest;
  }
  div {
    position: relative;
    border: 1px solid $lightGray;
    border-radius: $radius;
    padding: $lineHeight 0 0;
    @include fontSmaller;
    color: $darkerGray;
    &:before,
    &:after {
      position: absolute;
      top: $rhythm * -2;
      left: 10%;
      height: $rhythm * 4;
    }
    &:before {
      width: $rhythm * 4;
      margin-left: $rhythm * -2;
      border-radius: 50%;
      color: $white;
      z-index: 3;
      font-family: 'FontAwesome';
      line-height: $rhythm * 4;
      text-align: center;
      padding-top: 1px; // optical alignment
    }
    &:after {
      content: '';
      background: $white;
      width: $rhythm * 6;
      margin-left: $rhythm * -3;
      z-index: 2;
    }
    &.do {
      &:before {
        background: rgba($successColor,0.7);
        content: '\f00c';
      }
    }

    &.dont {
      &:before {
        background: rgba($errorColor,0.7);
        content: '\f00d';
      }
    }
  }
  @media screen and (min-width: $lapWidth) {
    margin-top: $lineHeight;
    display: table-cell;
    width: 46%;
    padding: 0 2%;
    vertical-align: top;
  }
}

// Style-guide specific overrides

.navbar {
  + h4 {
    margin-top: $lineHeight;
  }
}

.dvlcore_button_array {
  .button {
    margin-right: $rhythm;
    margin-bottom: $rhythm;
    @media screen and (min-width: $lapWidth) {
      margin-bottom: 0;
    }
  }
  .dropdown:last-child .button {
    margin-right: 0;
  }
}

// List in delete confirmations

.delete_list {
  li {
    padding: $rhythm 0;
    @include font_smoothing;
    max-width: 20rem;
    border-bottom: 1px solid $gray;
    &:first-of-type {
      border-top: 1px solid $gray;
    }
  }
  .icon_secondary {
    float: right;
  }
}

// Style guide illustrations

.docs_rhythm {
  padding: $lineHeight * 2 5%;
  background-repeat: repeat;
  background-size: 100% $rhythm;
  background-image: linear-gradient(to top, $white 87%, rgba($primaryColor,0.5));
  margin-bottom: $lineHeight;
  h2, p, form {
    text-align: center;
    opacity: 0.75;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    max-width: 25rem;
  }
  button {
    margin-top: $rhythm;
  }
  @media screen and (min-width: $lapWidth) {
    form {
      width: $lineHeight * 15;
      @include cf;
      input, button {
        float: left;
      }
      input {
        width: 60%;
        margin-right: $rhythm;
      }
      button {
        margin-top: 0;
      }
    }
  }
}

.docs_fontsmall {
  font-size: $fontSmall;
}

.docs_fontsmaller {
  font-size: $fontSmaller;
}

.docs_fontsmallest {
  font-size: $fontSmallest;
}

.docs_labels .label {
  margin-right: $rhythm;
}
