// Styles for the style guide

body {
  background: white;
}

.container {
  width: 90%;
  max-width: $maxWidth;
  margin: 0 auto;
}

.docs {
  border: 1px solid #ccc;
  border-radius: $radius;
  margin-bottom: $lineHeight;
}

.docs_col {
  display: inline-block;
  vertical-align: top;
  .docs_layout_full & {
    width: 100%;
  }
  .docs_layout_split & {
    width: 50%;
  }
}

.docs_preview {
  padding: 1rem;
}

.docs_code {
  padding: 1rem;

  pre {
    margin: 0;
  }
}

.docs_grid {
  margin-bottom: 1rem;

  .item > span {
    display: block;
    background-color: $lightGray;
  }
}
