// Styles for the style guide

body {
  background: white;
}

.preview_wrap {
  width: 95%;
  margin: 2rem auto;
}

.preview_nav {
  float: left;
  width: 300px;

  a {
    display: block;
    background-color: $blueHighlight;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    color: $black;
    border-radius: $radius;
    text-decoration: none;

  }

  .active a,
  a:hover, {
    background-color: darken($blueHighlight, 10%);
  }
}

.preview_main {
  margin-left: 340px;
}

.section_header {
  font-size: 1.6rem;
  padding: 1rem 0 0.5rem;
  color: #222;
}

.docs_preview_grid {
  border: 1px solid #ccc;
  border-radius: $radius;
}

.docs_preview {
  padding: 1rem;
}

.docs_code {
  padding: 1rem;

  pre {
    margin: 0;
  }
}
