// Styles for the style guide

.hero {
  color: #fff;
  @include font_smoothing;
  h1 {
    color: #fff;
  }
  img {
    max-width: $lineHeight * 2;
  }
  p {
    font-size: $fontSizeH3;
    line-height: $fontLineHeightH3;
    max-width: 30rem;
  }
  padding: $lineHeight * 6 0;
  margin-bottom: $lineHeight * 2;
  background-color: $brandColor;
  background-image: radial-gradient(10deg, rgba(186,146,112,0.6) 7%, rgba(186,146,112,0) 58%), linear-gradient(-10deg, rgba(0,133,250,0.3) 10%, rgba(0,133,250,0) 60%);
}

.container {
  width: 90%;
  max-width: $maxWidth;
  margin: 0 auto;
}

.docs {
  border-radius: $radius;
  margin-bottom: $lineHeight;
}

.docs_item {
  display: block;
  position: relative;
  padding-bottom: $lineHeight * 2;
  margin-bottom: $lineHeight * 2;
  border-bottom: 1px solid $gray;
  &.docs_item_sub {
    border: 0;
    padding-bottom: 0;
  }
}

hr {
  margin-bottom: $lineHeight * 2;
}

.docs_code_header {
  background: $lighterGray;
  line-height: $rhythm * 4;
  padding: 0 ($rhythm * 2);
  @include border_top_radius($radius);
  color: $darkerGray;
  font-size: $fontSmall;
}

.docs_code {
  display: none;
  pre {
    @include border_top_radius(0);
    margin: 0;
  }
}

.docs_toggle_label {
  background: $lighterGray;
  display: inline-block;
  border-radius: $radius;
  cursor: pointer;
  font-size: $fontSmaller;
  padding: $rhythm $rhythm * 2;
  margin-bottom: $rhythm * 2;
  position: absolute;
  right: 0;
  top: $rhythm / 2;
}

.docs_toggle_input {
  opacity: 0;
  position: absolute;
  z-index: -1;
  &:checked + .docs_code {
    display: block;
  }
}

.swatch {
  margin: 0 $lineHeight $lineHeight 0;
  display: inline-block;
  div {
    width: $lineHeight * 6;
    height: $lineHeight * 4;
    box-shadow: inset 0 0 0 1px rgba($black,0.1);
  }
  span {
    font-size: $fontSmall;
    color: $darkerGray;
  }
}

.docs_grid {
  margin-bottom: $rhythm * 2;
  margin-left: $rhythm * -4;
  .item {
    padding-left: $rhythm * 4;
    span {
      background: $blueHighlight;
      display: block;
      padding: $rhythm;
      font-size: $fontSmall;
      border-radius: $radius;
    }
  }
}

// Guides

.docs_guide {
  @include cf;
  margin-bottom: $lineHeight * 2;
  display: table;
}

.docs_guide_col {
  margin-bottom: $lineHeight;
  @media screen and (min-width: $deskWidth) {
    display: table-cell;
    vertical-align: top;
    width: 50%;
    margin-bottom: 0;
    padding: 0 4% 0 0;
    &:first-of-type {
      margin-right: 4%;
    }
  }
}

.docs_guide_example,
.docs_guide_explain {
  padding: $rhythm $rhythm * 2;
  border: 1px solid $lightGray;
}

.docs_guide_example {
  min-height: $lineHeight * 9;
  @include border_top_radius($radius);
  border-bottom: 0;
  &:empty {
    display: none;
    + .docs_guide_explain {
      @include border_top_radius($radius);
    }
  }
}

.docs_guide_explain {
  margin: 0;
  background: $lightestGray;
  @include border_bottom_radius($radius);
}

// Style-guide specific overrides

.navbar {
  + h4 {
    margin-top: $lineHeight;
  }
}

.dvlcore_button_array {
  .button {
    margin-right: $rhythm;
  }
  .dropdown:last-child .button {
    margin-right: 0;
  }
}

// Style guide illustrations

.docs_rhythm {
  padding: $lineHeight * 2 5%;
  background-repeat: repeat;
  background-size: 100% $rhythm;
  background-image: linear-gradient(to top, $white 87%, rgba($primaryColor,0.99));
  margin-bottom: $lineHeight;
  h2, p, form {
    text-align: center;
    opacity: 0.75;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    max-width: 25rem;
  }
  form {
    width: $lineHeight * 15;
    @include cf;
    input, button {
      float: left;
    }
    input {
      width: 60%;
      margin-right: $rhythm;
    }
  }
}