// Styles for the style guide

body {
  background: white;
  padding-top: $navHeight + 1.5rem;
}

.container {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
}

.preview_sidebar {
  float: left;
  width: 200px;

  a {
    display: block;
    background-color: $blueHighlight;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    color: $black;
    border-radius: $radius;
    text-decoration: none;

  }

  .active a,
  a:hover, {
    background-color: darken($blueHighlight, 10%);
  }
}

.preview_main {
  margin-left: 240px;
}

.section_header {
  font-size: 1.6rem;
  padding: 1rem 0 0.5rem;
  color: #222;
}

.docs {
  border: 1px solid #ccc;
  border-radius: $radius;
}

.docs_col {
  display: inline-block;
  vertical-align: top;
  .docs_layout_full & {
    width: 100%;
  }
  .docs_layout_split & {
    width: 50%;
  }
}

.docs_preview {
  padding: 1rem;
}

.docs_code {
  padding: 1rem;

  pre {
    margin: 0;
  }
}

.docs_grid {
  margin-bottom: 1rem;

  .item {
    background-color: $lightGray;
  }
}
