// Styles for the style guide

.container {
  width: 90%;
  max-width: $maxWidth;
  margin: 0 auto;
}

.docs {
  border-radius: $radius;
  margin-bottom: $lineHeight;
}

.docs_item {
  display: block;
  position: relative;
  margin-bottom: $lineHeight * 2;
  border-bottom: 1px solid $darkGray;
  &.docs_item_sub {
    border: 0;
  }
}

.docs_code_header {
  background: $lighterGray;
  line-height: $rhythm * 4;
  padding: 0 ($rhythm * 2);
  @include border_top_radius($radius);
  color: $darkerGray;
  font-size: $fontSmall;
}

.docs_code {
  display: none;
  pre {
    @include border_top_radius(0);
    margin: 0;
  }
}

.docs_toggle_label {
  background: $lighterGray;
  display: inline-block;
  border-radius: $radius;
  cursor: pointer;
  font-size: $fontSmaller;
  padding: $rhythm $rhythm * 2;
  margin-bottom: $rhythm * 2;
  position: absolute;
  right: 0;
  top: $rhythm / 2;
}

.docs_toggle_input {
  opacity: 0;
  position: absolute;
  z-index: -1;
  &:checked + .docs_code {
    display: block;
  }
}

.swatch {
  margin: 0 $lineHeight $lineHeight 0;
  display: inline-block;
  div {
    width: $lineHeight * 6;
    height: $lineHeight * 4;
    box-shadow: inset 0 0 0 1px rgba($black,0.1);
  }
  span {
    font-size: $fontSmall;
    color: $darkerGray;
  }
}

.docs_grid {
  margin-bottom: $rhythm * 2;
  margin-left: $rhythm * -4;
  .item {
    padding-left: $rhythm * 4;
    span {
      background: $blueHighlight;
      display: block;
      padding: $rhythm;
      font-size: $fontSmall;
      border-radius: $radius;
    }
  }
}

// Preview-specific styles

.navbar + h4 {
  margin-top: $lineHeight;
}